 /* these some code container I create div for all contianer */
.container{
    width: 25vw;
    height: 75vh;
    border :2px solid black;
    margin: auto;
    margin-top: 7%;
    padding-left: 3%;
  }
  .r_form{
      display: block;
      padding: 4px;
  }
  h1{
      text-align: center;
      color: rgb(80, 162, 234);
  }
  .section_form{
      padding:3%;
  }
  .input{
      width:90%;
      height: 3vh;
  }
   /* these some code for submit button */
  .btn_input{
      width: 5vw;
      height: 4vh;
      background-color: rgb(17, 125, 207);
      color: white;
      border:0px solid rgb(17, 125, 207);
  }
  /* I change  color for required */
  .required{
      color:red;
  }
  